<div class="row">
    <div class="col-12">
        <p>dashboard works!</p>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="First name" 
                            [(ngModel)]="text" (ngModelChange)="changing()">
                    </div>
                    <div class="col-2">
                        <app-input-number [placehold]="'Rango'" (changeValue)="value = $event">
                        </app-input-number>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>